In [ ]:
%matplotlib inline
import plotly
import plotly.graph_objs as go
plotly.offline.init_notebook_mode()
import pandas as pd
import time

In [1]:
df = pd.read_csv(r'C:\Users\CCVV\OneDrive\TESIS\Automatization\output5cc60c.csv', delimiter=';', index_col=0)

NameError: name 'pd' is not defined

In [16]:
def to_float(cell_value):
    return float(cell_value.replace(',','.'))

In [17]:
df = df.applymap(to_float)

In [18]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,2973,2974,2975,2976,2977,2978,2979,2980,2981,2982
count,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,...,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000
mean,26.543152,26.568755,26.515272,26.526615,26.524553,26.513035,26.549922,26.503969,26.523521,26.502490,...,32.707490,32.707490,32.707490,32.707490,32.707490,32.707490,32.707490,32.707490,32.707490,32.707490
std,3.973478,3.942385,3.921970,3.902348,3.872625,3.847726,3.822473,3.795114,3.768135,3.746143,...,2.953013,2.953013,2.953013,2.953013,2.953013,2.953013,2.953013,2.953013,2.953013,2.953013
min,25.190000,25.230000,25.180000,25.220000,25.200000,25.180000,25.240000,25.210000,25.240000,25.210000,...,24.670000,24.670000,24.670000,24.670000,24.670000,24.670000,24.670000,24.670000,24.670000,24.670000
25%,25.432500,25.470000,25.420000,25.420000,25.430000,25.420000,25.460000,25.420000,25.440000,25.420000,...,31.832500,31.832500,31.832500,31.832500,31.832500,31.832500,31.832500,31.832500,31.832500,31.832500
50%,25.570000,25.620000,25.550000,25.565000,25.560000,25.550000,25.600000,25.550000,25.570000,25.555000,...,33.640000,33.640000,33.640000,33.640000,33.640000,33.640000,33.640000,33.640000,33.640000,33.640000
75%,25.890000,25.900000,25.860000,25.877500,25.890000,25.880000,25.920000,25.880000,25.920000,25.900000,...,34.897500,34.897500,34.897500,34.897500,34.897500,34.897500,34.897500,34.897500,34.897500,34.897500
max,47.280000,47.030000,46.910000,46.770000,46.610000,46.430000,46.300000,46.130000,45.980000,45.850000,...,35.660000,35.660000,35.660000,35.660000,35.660000,35.660000,35.660000,35.660000,35.660000,35.660000

In [19]:
df = df.transpose()

In [12]:
df.shape

(2983, 514)

In [30]:
data = [go.Surface(z=df.values.tolist(), colorscale='Viridis')]

In [28]:
df = df[df.apply(lambda x: x.max() < 59, axis=1)]

In [31]:
layout = go.Layout(
    width=800,
    height=700,
    autosize=False,
    title='Volcano dataset',
    scene=dict(
        xaxis=dict(
            gridcolor='rgb(255, 255, 255)',
            zerolinecolor='rgb(255, 255, 255)',
            showbackground=True,
            backgroundcolor='rgb(230, 230,230)'
        ),
        yaxis=dict(
            gridcolor='rgb(255, 255, 255)',
            zerolinecolor='rgb(255, 255, 255)',
            showbackground=True,
            backgroundcolor='rgb(230, 230,230)'
        ),
        zaxis=dict(
            gridcolor='rgb(255, 255, 255)',
            zerolinecolor='rgb(255, 255, 255)',
            showbackground=True,
            backgroundcolor='rgb(230, 230,230)'
        ),
        aspectratio = dict( x=1, y=1, z=0.7 ),
        aspectmode = 'manual'
    )
)

fig = dict(data=data, layout=layout)

In [32]:
plotly.offline.plot(fig)

'file://C:\\Users\\Alfonso\\Documents\\ML\\temp-plot.html'