In [1]:
import pandas as pd
import csv
from matplotlib import pyplot as plt
%matplotlib

Using matplotlib backend: Qt5Agg

In [2]:
from Experimentos import Experimentos, labelLines

[Errno 2] No such file or directory: '.\\Data\\5cc50C - flir.csv'
[Errno 2] No such file or directory: '.\\Data\\1cc54C - flir.csv'
[Errno 2] No such file or directory: '.\\Data\\25cc54C - flir.csv'
[Errno 2] No such file or directory: '.\\Data\\10cc60C - flir.csv'
[Errno 2] No such file or directory: '.\\Data\\25cc60C - flir.csv'
[Errno 2] No such file or directory: '.\\Data\\1cc59C - flir.csv'
[Errno 2] No such file or directory: '.\\Data\\5cc63C - flir.csv'
[Errno 2] No such file or directory: '.\\Data\\25cc62C - flir.csv'
[Errno 2] No such file or directory: '.\\Data\\1cc62C - flir.csv'
[Errno 2] No such file or directory: '.\\Data\\1cc24C - flir.csv'
[Errno 2] No such file or directory: '.\\Data\\10cc24C - flir.csv'

In [10]:
Archivo = pd.read_excel('1cc54,7C - spot termocupla.xlsx')

In [11]:
Archivo.describe()

,tiempo,spot 1,spot 2,spot 3,spot 4,term 1,term 2,term 3,term 4
count,9854.000000,9854.000000,9854.000000,9854.000000,9854.000000,9854.000000,9854.000000,9854.000000,9854.000000
mean,4675.625191,23.445494,22.184828,15.549503,14.163264,34.096651,34.023118,25.594784,28.370885
std,2513.478564,18.612079,17.378107,11.946333,10.837066,5.435571,4.187841,1.780896,1.841589
min,0.000000,0.000000,0.000000,0.000000,0.000000,23.000000,22.700000,22.300000,23.000000
25%,2475.850000,0.000000,0.000000,0.000000,0.000000,29.100000,30.100000,24.800000,26.700000
50%,4946.700000,31.700000,32.200000,22.600000,22.300000,33.000000,33.600000,25.600000,28.300000
75%,6944.110000,36.600000,36.600000,25.300000,22.400000,39.600000,37.800000,27.200000,30.100000
max,8422.060000,59.000000,53.500000,51.500000,49.600000,45.200000,40.900000,28.200000,31.400000

In [20]:
Archivo['spot 1 ']

0       28.2
1       28.1
2       28.2
3       28.2
4       28.1
5       28.1
6       28.1
7       27.7
8       28.0
9       28.7
10      27.5
11      28.8
12      27.7
13      28.7
14      28.3
15      28.3
16      31.4
17      53.0
18      53.3
19      53.7
20      52.5
21      52.0
22      52.0
23      51.9
24      52.0
25      52.1
26      52.4
27      53.0
28      53.7
29      54.1
        ...
9824     0.0
9825     0.0
9826     0.0
9827     0.0
9828     0.0
9829     0.0
9830     0.0
9831     0.0
9832     0.0
9833     0.0
9834     0.0
9835     0.0
9836     0.0
9837     0.0
9838     0.0
9839     0.0
9840     0.0
9841     0.0
9842     0.0
9843     0.0
9844     0.0
9845     0.0
9846     0.0
9847     0.0
9848     0.0
9849     0.0
9850     0.0
9851     0.0
9852     0.0
9853     0.0
Name: spot 1 , dtype: float64

In [27]:
#T car = T / T min
#t = t

Archivo['Tcar'] = Archivo['spot 4']/Archivo['spot 4'].max()
axes = []

n = plt.scatter(Archivo['tiempo'], Archivo['Tcar'], marker = 'o')