In [5]:
import pandas as pd
import re
import os

In [28]:
regex = re.compile(r'[A-Z]*(\d+)\.csv')

In [90]:
def generate_column(file):
    name = int(regex.search(file).group(1))
    return name, pd.read_csv(file, header=None, delimiter=';', usecols=[1], skiprows=2)

In [91]:
def apply_to_all(function, top):
    res = {}
    for root, paths, names in os.walk(top):
        print("Root: {}".format(root))
        if len(names) > 0:
            for name in names:
                print("Filepath: {}".format(os.path.join(root, name)))
                name, df = function(os.path.join(root, name))
                res[name] = df
    return res

In [93]:
name, df10 = generate_column(r'C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\FRSD10.csv')

In [83]:
df10.head()

      10
0  26,33
1  26,26
2  26,31
3  26,25
4  26,23

In [92]:
name, df1 = generate_column(r'C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\QWER1.csv')
df1.head()

       1
0  26,23
1   26,2
2   26,2
3  26,24
4  26,17

In [111]:
dfs = pd.concat(apply_to_all(generate_column, r'C:\Users\Alfonso\Documents\Camila\Autom\csvfiles'), axis=1, ignore_index=True)

Root: C:\Users\Alfonso\Documents\Camila\Autom\csvfiles
Filepath: C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\FRSD10.csv
Filepath: C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\FSAD8.csv
Filepath: C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\HFYY5.csv
Filepath: C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\JNDN7.csv
Filepath: C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\KDDL6.csv
Filepath: C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\LLOP3.csv
Filepath: C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\QWER1.csv
Filepath: C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\RGRD9.csv
Filepath: C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\SDAQ2.csv
Filepath: C:\Users\Alfonso\Documents\Camila\Autom\csvfiles\TGFD4.csv

In [112]:
dfs.head()

       0      1      2      3      4      5      6      7      8      9
0  26,23  26,26  26,32  26,25  26,22  26,22  26,21  26,23  26,21  26,33
1   26,2   26,3  26,27  26,24  26,19  26,22   26,2   26,2  26,29  26,26
2   26,2  26,25  26,26  26,24  26,22  26,23  26,19  26,23   26,2  26,31
3  26,24  26,24  26,28  26,22  26,17   26,2  26,18  26,18   26,2  26,25
4  26,17  26,19  26,24  26,17  26,15  26,17  26,18  26,19  26,23  26,23

In [106]:
dfs.to_csv('result.csv', sep=';')